

form{
    background-color: rgb(197, 197, 197);
    overflow:hidden;
    padding: 2%;
    border-radius: 20px;
    margin: 1em;
}

  
#addBtn {
    position: fixed;
    bottom: 20px;
    right: 10px;
  }

  .btnAdd {
    background-color : rgb(248, 251, 252);
    color: rgb(0, 0, 0);
    padding: 8px 20px;
    font-size: 1.8em;
    border-radius: 35px;
    border-style: double;
  }

  .Preview{
    font-size: 1.3em;
    font-weight: 500;

}



.fHead{
    font-size: 130%;
    font-weight: 700;
    color: black;
}
